/* Set custom fonts for block editor */
body.block-editor-page {
    font-family: 'Mulish', sans-serif;
}

.editor-styles-wrapper {
    font-family: 'Mulish', sans-serif;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
    font-family: 'Crimson Text', serif;
}