#accordion-panel-rectified-magazine_panel .accordion-section-title,
#accordion-section-rectified_magazine_about_theme_section .accordion-section-title {
	margin-top: -4px;
	font-weight: 400;
	font-size: 16px;
	background: #0278c0;
	color: #fff;
}

.at-pro {
	background: #0278c0 !important;
	color: #fff !important;
	box-shadow: none !important;
}